<a href="https://colab.research.google.com/github/JayeshHarjule/LetsUpgradeAI-ML/blob/master/Day%2033.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn import svm
from sklearn.svm import SVR
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import os
import pandas as pd

df = pd.read_csv("/User_Data - Arindam Dev (1).csv") 
print(df)

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
X =df.iloc[:,[2.3]].values
y= df.iloc[:,4].values

# Splitting the dataset into the Training set Test set
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size= 0.3, random_state=0)

#Create a svm classifier
clf = svm.SVC(kernel = 'linear')# linear kernel

#Train the model using the training sets
clf.fit(X_train,y_train)

#predict the response for test dataset
y_pred = clf.predict(X_test)

#Create a svm classifier
clf = svm.SVC(kernel = 'linear')# linear kernel

#Train the model using the training sets
clf.fit(X_train,y_train)

#predict the response for test dataset
y_pred = clf.predict(X_test)

print(clf)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
# Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

#Model accuracy 
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.8666666666666667

In [ ]:
# Model Precision 
print ("Precision:",metrics.precision_score(y_test,y_pred))

# Model Recall
print("Recall:",metrics.recall_score(y_test,y_pred))

Precision: 0.8571428571428571
Recall: 0.7317073170731707

In [ ]:
from sklearn.metrics import  confusion_matrix
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[74  5]
 [11 30]]

**Accuracy** is 86.66666666666667 %