<a href="https://colab.research.google.com/github/JayeshHarjule/LetsUpgradeAI-ML/blob/master/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to Subtract two complex numbers

In [14]:
c1 = 3+2j
c2 = 4+5j
Result = c1-c2
print("c2 =",c2, "subtracted from c1 =",c1,"results in", Result)

c2 = (4+5j) subtracted from c1 = (3+2j) results in (-1-3j)

Program to find the fourth root of a number

In [15]:
Num1=81
Result1 = Num1**(1/4)
print("Fourth root of Num1 =",Num1,"is",Result1)

Fourth root of Num1 = 81 is 3.0

Program to swap two numbers in Python with the help of a temporary variable, t1.

In [17]:
n1 = 3
n2 = 4
print("Before swapping n1 =",n1,"and n2 =",n2)
t1 = n1
n1 = n2
n2 = t1
print("After swapping n1 =",n1,"and n2 =",n2)

Before swapping n1 = 3 and n2 = 4
After swapping n1 = 4 and n2 = 3

Program to swap two numbers in Python without using a temporary variable.

In [43]:
a1=1
b1=2
print("Before swapping a1 =",a1,"and b1 =",b1)
a1=a1+b1
b1=a1-b1
a1=a1-b1
print("After swapping a1 =",a1,"and b1 =",b1)

Before swapping a1 = 1 and b1 = 2
After swapping a1 = 2 and b1 = 1

Program to convert temperature from Fahrenheit to Kelvin and Celsius both.

In [22]:
fahrenheit = 60
print("Temperature in Fahrenheit =", fahrenheit)
kelvin = 273.15 + ((fahrenheit - 32) * (5/9))
print ("Temperature in Kelvin =", kelvin)
celsius = (fahrenheit - 32) * 5/9
print("Temperature in celsius =", celsius)

Temperature in Fahrenheit = 60
Temperature in Kelvin = 288.7055555555555
Temperature in celsius = 15.555555555555555

Program to demonstrate all the available data types in Python.

In [41]:
data1 = 10
print("Data type of",data1, "is",type(data1))
data1 = 10.0
print("Data type of",data1, "is",type(data1))
data1 = 10 + 1j
print("Data type of",data1, "is",type(data1))
data1 = "Hello Python World"
print("Data type of",data1, "is",type(data1))
data1 = ["tiger","cow","frog"]
print("Data type of",data1, "is",type(data1))
data1 = range(9)
print("Data type of",data1, "is",type(data1))
data1 = ("tiger","cow","frog")
print("Data type of",data1, "is",type(data1))
data1 = True
print("Data type of",data1, "is",type(data1))
data1 = {"tiger","cow","frog"}
print("Data type of",data1, "is",type(data1))
data1 = {"name":"tiger","family":"Cat"}
print("Data type of",data1, "is",type(data1))
data1 = b"Hey"
print("Data type of",data1, "is",type(data1))
data1 = bytearray(2)
print("Data type of",data1, "is",type(data1))
data1 = memoryview(bytes(3))
print("Data type of",data1, "is",type(data1))

Data type of 10 is <class 'int'>
Data type of 10.0 is <class 'float'>
Data type of (10+1j) is <class 'complex'>
Data type of Hello Python World is <class 'str'>
Data type of ['tiger', 'cow', 'frog'] is <class 'list'>
Data type of range(0, 9) is <class 'range'>
Data type of ('tiger', 'cow', 'frog') is <class 'tuple'>
Data type of True is <class 'bool'>
Data type of {'frog', 'tiger', 'cow'} is <class 'set'>
Data type of {'name': 'tiger', 'family': 'Cat'} is <class 'dict'>
Data type of b'Hey' is <class 'bytes'>
Data type of bytearray(b'\x00\x00') is <class 'bytearray'>
Data type of <memory at 0x7fe32b1ed588> is <class 'memoryview'>