<a href="https://colab.research.google.com/github/JayeshHarjule/LetsUpgradeAI-ML/blob/master/Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Answer 1) **Problem Statement**:-

Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [23]:
emailId = str(input("Enter the email ID:"))
# Logic to retrieve company name
CompanyName1 = emailId.split('@')[1]
i1=CompanyName1.rindex(".")
print("CompanyName of entered mail ID:")
print(CompanyName1.split(CompanyName1[i1])[0]+".")

Enter the email ID:jmh@rediffc.com
CompanyName of entered mail ID:
rediffc.

Answer 2) **Problem Statement**:-

Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.

Output Format:
Print the sorted words separated by the comma.

Example:

Input:

without,hello,bag,world

Output:

bag,hello,without,world

In [ ]:
,b,c

In [28]:
SeqOfWords = input("Input sequence of words seperated with comma :  ")
words = [word for word in SeqOfWords.split(",")]
print(",".join(sorted(list(set(words)))))

Input sequence of words seperated with comma :  bay,word,structure,long,block
bay,block,long,structure,word

Answer 3) **Problem Statement** :-

Create your own Jupyter Notebook for Sets.


**Sets**

Its a collection of unorderd and unindexed data type. It is written in curly brackets.

it is not possible to access items in a set by reffering to an index or key. but you can do that by using in keyword.

In [15]:
st = {"Panipuri","Vadapav","Pizza"}
print(st)

{'Vadapav', 'Panipuri', 'Pizza'}

In [16]:
#check id cakes is present in the set
st = {"Panipuri","Vadapav","Pizza"}
print("cakes" in st)

False

In [18]:
#  use add() method to add an item to a set.
st = {"Panipuri","Vadapav","Pizza"}
st.add("bread")
print(st)

{'Vadapav', 'Panipuri', 'bread', 'Pizza'}

In [19]:
#in order to add multiple items in a set we use update(method)
st = {"Panipuri","Vadapav","Pizza"}
st.update(["bread","pie","buns"])
print(st)

{'buns', 'Panipuri', 'bread', 'Pizza', 'Vadapav', 'pie'}

In [20]:
# To get the length of items in a set we use le()method
st = {"Panipuri","Vadapav","Pizza"}
print(len(st))

3

In [21]:
# Use remove(),or discard()method to remove items from aset.
st = {"Panipuri","Vadapav","Pizza"}
st.remove("Panipuri")
st.discard("Vadapav")
print(st)

{'Pizza'}


**NOTE**

In set when we use remove() method and the item doesn't exist it will raise error . 
But when we use discard method even if the item doesn't exist it will not raise error.

In [22]:
# pop()method removes the last item in a set.
st = {"Panipuri","Vadapav","Pizza"}
y = st.pop()
print(y)
print(st)

Vadapav
{'Panipuri', 'Pizza'}

In [23]:
# clear() method empties the set
st = {"Panipuri","Vadapav","Pizza"}
st.clear()
print(st)

set()

In [25]:
# To we join two or more sets by use of union ()method ,
# or update() method to inserts all items 
#from one item to another'
st1 = {"Panipuri","Vadapav","Pizza"}
st2 = {1,4,3,7}
st3 = st1.union(st2)
print(st3)

{1, 'Panipuri', 'Pizza', 3, 4, 7, 'Vadapav'}

In [27]:
#We can also use the set()constructor to make a set.
#There is use of double round brackets.
st1 =set(("Banana","Apple","Mango"))
print(st1)

{'Mango', 'Apple', 'Banana'}

**Other set method includes** 

* copy():-  to copy itemsto the set
* difference():- To return a set containing the difference between two or more sets
* issubset():- Returns whether another set contains this set or not.
* issuperset():- Returns whether this set contains another set or not

Answer 4) **Problem Statement** :-

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.

Input Format:

The first line contains n-1 numbers with each number separated by a space.

Output Format:

Print the missing number

Example:

Input:

1 2 4 6 3 7 8

Output:

5

Explanation:

In the above list of numbers 5 is missing and hence 5 is the input

In [49]:
InputNumbers = input("Input numbers with spaces: ")
ListofNumbers = list(InputNumbers.split(" "))
#Convert entered string to list of integer
for i in range(0, len(ListofNumbers)): 
    ListofNumbers[i] = int(ListofNumbers[i])
#Logic to find missing numbers in the list of numbers
ListOfMissingNumbers = sorted(set(range(ListofNumbers[0], ListofNumbers[-1])) - set(ListofNumbers))
#Output the missing numbers with spaces
for i in range(0,len(ListOfMissingNumbers)):
  print(ListOfMissingNumbers[i],end=" ")

Input numbers with spaces: 1 3 6 9
2 4 5 7 8

Answer 5) 
**Problem Statement** :-

With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.

Example:

If the input list is

12 24 35 24 88 120 155 88 120 155

Then the output should be

12 24 35 88 120 155

Explanation:

Third, the seventh and ninth element of the list L has been removed because it was already present.

Input Format:

In one line take the elements of the list L with each element separated by a space.

Output Format:

Print the elements of the modified list in one line with each element separated by a space.

Example:

Input:

12 24 35 24

Output:

12 24 35

In [8]:
# Python code to remove duplicate elements 
InputNumbers = input("Input numbers with spaces: ")
ListofNumbers = list(InputNumbers.split(" "))
#Convert entered string to list of integer
for i in range(0, len(ListofNumbers)): 
    ListofNumbers[i] = int(ListofNumbers[i])
#Initialize the list to store Unique Numbers
ListOfUniqueNum = [] 
#Logic for Unique Number
for num in ListofNumbers : 
        if num not in ListOfUniqueNum: 
            ListOfUniqueNum.append(num)
#Output the missing numbers with spaces
for i in range(0,len(ListOfUniqueNum)):
  print(ListOfUniqueNum[i],end=" ")

Input numbers with spaces: 12 34 35 36 78 67 23 12 34 35
12 34 35 36 78 67 23